# Paths - change to your location
COMMON_OPTIONS="-Xs -O3 -l -CX" 

CORE_LOCATION="/home/torsten/EpiData/Core/trunk"
CORE_OPT="-MObjFPC -XX $COMMON_OPTIONS"
DCPCRYPT_LOCATION="/home/torsten/FreePascal/dcpcrypt"
DCPCRYPT_OPT="$COMMON_OPTIONS"
FPSPREADSHEET_LOCATION="/home/torsten/FreePascal/fpspreadsheet"
FPSPREADSHEET_OPT="-MObjFPC $COMMON_OPTIONS"
LAZARUS_LOCATION="/home/torsten/FreePascal/lazarus"

# Structure of each line for compile targets is:
# CPU-OS-LCL
# - CPU: i386, x86_64, powerpc,...
# - OS:  win32, win64, linux, darwin,...
# - LCL: win32, gtk2, carbon

ALL_TARGETS=""
ALL_TARGETS="$ALL_TARGETS i386-win32-win32"
ALL_TARGETS="$ALL_TARGETS i386-linux-gtk2"
ALL_TARGETS="$ALL_TARGETS x86_64-win64-win32"
ALL_TARGETS="$ALL_TARGETS x86_64-linux-gtk2"

