#include ~/fpc.cfg
#include ~/lazarus.cfg
#include ~/utils.cfg

# options:
-Scih
-XX
-Xs
#-O2
-O1
#ifdef windows
-WG
#endif

#-gl
#-gw
#-godwarfsets
#-O-

# Output:
-FE.
-FU./lib/$fpctarget

# Units:
-Fu.
-Fu./designer
-Fu./designer/align
-Fu./designer/rename
-Fu./export
-Fu./import
-Fu./project
-Fu./reports
-Fu./settings
-Fu./tools
-Fu./utils

# Includes
-Fiinclude/$fpcos

# Libraries:
-Fu~/EpiData/Core/fixes/release_2_0_0_0_RC3/lib/$fpctarget
-Fu~/FreePascal/jvruntimedesign/trunk/lib/$fpctarget

