1 VERSIONINFO
FILEVERSION 0,2,1,5
PRODUCTVERSION 0,2,1,5
{
 BLOCK "StringFileInfo"
 {
  BLOCK "080904B0"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "Get latest from Http://www.epidata.dk\000"
   VALUE "FileVersion", "0.2.1.5\000"
   VALUE "InternalName", "\000"
   VALUE "LegalCopyright", "EpiData Association, Denmark\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "EpiData manager\000"
   VALUE "ProductVersion", "0.2.1.5\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0809, 0x04B0
 }
}

MAINICON ICON "epidatamanager.ico"
